<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
  </head>
  <body>
    <form action="/search">
      <input type="text" name="searchTerm"></input>
      <input type="submit"></input>
    </form>
  </body>
</html>
