<!doctype html>
<html>
  <head>
    <title>OMDB API Example</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
		<div class="container">
  		<h1 class="title">Movies on Demand</h1>
	  	
	  	<a href="/watch" class="homewatch"><button class="btn btn-danger">Watch Now</button></a>
	  	<a href="/" class="homeroot"><button class="btn btn-danger">Go Home</button></a>

      <h2 class="head2">Search Movies</h2>
	    <form action="/results" class="form-search">
	      <input type="text" name="searchTerm" placeholder="Search Movie Title"></input>
	      <input type="submit"></input>
	    </form>

	    <h1>Jean pants Kale Chips normcore</h1>
	    <img class="dumimg" src="http://ia.media-imdb.com/images/M/MV5BMTgzNDg0NDQ2NF5BMl5BanBnXkFtZTcwNzExMjQzNw@@._V1_SX300.jpg/"/>
	    <p>Brunch flexitarian lomo mustache Bushwick Portland, retro DIY gluten-free disrupt. Tumblr photo booth Neutra, DIY pop-up whatever shabby chic sustainable 3 wolf moon iPhone bespoke before they sold out hella raw denim deep v. Cray shabby chic fap, selvage craft beer Pitchfork fashion axe kitsch yr sartorial Blue Bottle. Forage Austin fashion axe salvia Portland, seitan artisan kogi ennui vinyl pork belly letterpress actually messenger bag Cosby sweater. Pop-up Echo Park post-ironic disrupt. Mumblecore salvia 8-bit polaroid Etsy distillery small batch, wolf vinyl you probably haven't heard of them. Selvage Banksy drinking vinegar forage bicycle rights pickled PBR&B direct trade single-origin coffee mumblecore.</p>
     
	    <p>Carles flannel viral, jean shorts fashion axe mlkshk photo booth Bushwick chambray Blue Bottle. Hella actually bicycle rights YOLO, scenester VHS master cleanse Williamsburg pug craft beer fixie iPhone kogi cardigan. Williamsburg artisan Odd Future Pitchfork. You probably haven't heard of them keffiyeh Etsy, Odd Future roof party forage selvage. Skateboard vinyl drinking vinegar photo booth gentrify. Hoodie kogi pork belly, ethical mixtape try-hard Etsy photo booth ugh next level paleo single-origin coffee semiotics kale chips. Polaroid Intelligentsia ennui yr.</p>

	    <h3>Gluten-free skateboard Blue Bottle Thundercats...</h3>
	    <img class="dumimg2" src="http://ia.media-imdb.com/images/M/MV5BMTYwNTE3NDYzOV5BMl5BanBnXkFtZTcwNTU5MzY0MQ@@._V1_SX300.jpg/"/>
	    <p>Literally ethical dreamcatcher Etsy. Gluten-free tote bag butcher fashion axe. Mixtape bitters 3 wolf moon, VHS pickled food truck Thundercats. Synth mlkshk tousled, hoodie yr banh mi disrupt chambray Austin meh Tumblr locavore cray try-hard. Raw denim McSweeney's beard Wes Anderson. Meh ethnic pug, twee stumptown Echo Park 90's leggings Etsy. Mumblecore tofu street art, literally meggings actually Cosby sweater sriracha small batch fashion axe slow-carb mustache.
    	<p>Pinterest put a bird on it pour-over drinking vinegar food truck iPhone. Helvetica tousled 3 wolf moon, pickled brunch you probably haven't heard of them mixtape cred Carles stumptown Etsy synth drinking vinegar. Polaroid fap Austin whatever 8-bit Echo Park. You probably haven't heard of them fashion axe Kickstarter, next level Echo Park Etsy chambray Williamsburg seitan tattooed lomo messenger bag semiotics drinking vinegar. Lo-fi Godard typewriter seitan Carles street art. Seitan VHS locavore tofu, chambray semiotics Banksy swag banjo. Godard gentrify direct trade asymmetrical, Etsy Tonx banh mi whatever +1 ennui pork belly beard twee.</p>
    	<p>Aesthetic quinoa Thundercats, cred Tumblr single-origin coffee pour-over locavore biodiesel retro mlkshk pickled Carles. Ennui sartorial Kickstarter, ugh YOLO ethical Pinterest 8-bit scenester Blue Bottle tousled pickled salvia. Gentrify aesthetic sustainable chia flexitarian, fanny pack 90's Williamsburg. Pop-up Odd Future readymade ennui, direct trade Godard XOXO farm-to-table tofu gluten-free synth Pitchfork banjo. Trust fund chia PBR&B, Thundercats Tonx tofu hoodie Etsy Helvetica Echo Park High Life. Viral ethnic tofu sustainable ennui freegan, gluten-free skateboard Blue Bottle Thundercats. Locavore ethical hella dreamcatcher direct trade gastropub.</p>
    </div>
  </body>
</html>