<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
    <h1>Results</h1>
    <ul>
      <% movieList.forEach(function(movie, index) { %>
        <li><%= movie.Title %></li>
      <% }) %>
    </ul>
  </body>
</html>
