<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
    <h1 class="title">Movies on Demand</h1>

      <a href="/watch" class="homewatch"><button class="btn btn-danger">Watch Now</button></a>
      <a href="/" class="homeroot"><button class="btn btn-danger">Go Home</button></a>
      <h2 class="head2">Results</h2>
      <table class="table table-hover">
        <!--Click movie titles to take to detailed view -->      
          <% movieList.forEach(function(movie) { %>
          <tr>
          <td>
            <li><a class="anchor" href="/details/?i=<%= movie.imdbID %>"><%= movie.Title %></a></li>
          </td>
          </tr>
          <% }) %>
    </table>
    </div>
  </body>
</html>
