<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
    <h1 class="title">Movies on Demand</h1>

      <a href="/watch" class="homewatch"><button class="btn btn-danger">Watch Now</button></a>
      <a href="/" class="homeroot"><button class="btn btn-danger">Go Home</button></a>

      <h2 class="head2">Movie Queue</h2>
      <table class="table table-hover">   
        <ul>
          <% listOfMovies.forEach(function(movie) { %>
            <tr>
              <td>
                <li><a class="anchor" href="/details/?i=<%= movie.imdbID %>"><%= movie.title %></a>

                <form class="delete" method="post" action="/watch/<%= movie.imdbID %>?_method=delete"><button>Delete</button></form></li>
              <% }) %>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>